<section class="TodoSection">
  <div class="TodoTitle">
    <h2 class="TodoTitle-text"><%=section_title%></h2>
    <p class="TodoTitle-count"><%= todos.completed.count %>/<%= todos.count %></p>
  </div>

  <ul>
  <% todos.all.each do |todo| %>
      <li class="TodoItem">
        <%= form_with( url: "/todos/#{todo.id}", method: "put") do %>
          <input class="TodoItem-checkbox"
          name = "completed"
          onclick = "this.form.submit()"
          type="checkbox"
          <%= todo.completed ? "checked" : "" %>
          />
        <% end %>
        <p class= "<%= todo.completed ? "TodoItem-textlinethrough" : "TodoItem-text"%>" ><%= todo.todo_text %></p>
        <% if !todo.due_today? %>
          <p class="TodoItem-duedate"><%= todo.due_date.to_s(:short) %></p>
        <% end %>
        <a class="TodoItem-deletebox" href="javascript:void(0)">
          <img class="TodoItem-deletebox" src="delete.svg" />
        </a>
      </li>
  <% end %>
  </ul>
</section>
