<section class="TodoSection">
  <div class="TodoTitle">
    <h2 class="TodoTitle-text"><%=section_title%></h2>
    <p class="TodoTitle-count"><%= todos.completed.count %>/<%= todos.count %></p>
  </div>

  <ul>
  <% todos.all.each do |todo| %>
    <li class="TodoItem">
      <%= form_with( url: "/todos/#{todo.id}", method: "put") do %>
        <%= check_box_tag("completed",nil,todo.completed ? true : false, class: "TodoItem-checkbox", onclick: "this.form.submit()") %>
      <% end %>
      <p class= "<%= todo.completed ? "TodoItem-textlinethrough" : "TodoItem-text"%>" ><%= todo.todo_text %></p>
      <% if !todo.due_today? %>
        <p class="TodoItem-duedate"><%= todo.due_date.to_s(:short) %></p>
      <% end %>
      <a class="TodoItem-deletebox" href="javascript:void(0)">
        <%= form_with(url: "/todos/#{todo.id}", method: "delete") do  %>
          <%= image_submit_tag("delete.svg", class: "TodoItem-deletebox") %>
        <% end %>
      </a>
    </li>
  <% end %>
  </ul>
</section>
