<article>
  <h1 class="TodoPageTitle">My Todo-list</h1>

  <%= form_with(url: "/todos", method: "post", class: "AddTodo") do %>
    <%= text_field_tag 'todo_text',nil,class: "AddTodo-text", placeholder: "What's next?" %>
    <input class="AddTodo-date" type="date" name= "due_date"/>
    <input class="AddTodo-button" type="submit" value="Add" />
  <% end %>

  <%= render partial: "todos-section",
      locals: { section_title: "Overdue", todos: Todo.overdue } %>
  <%= render partial: "todos-section",
      locals: { section_title: "Due Today", todos: Todo.duetoday } %>
  <%= render partial: "todos-section",
      locals: { section_title: "Due Later", todos: Todo.duelater } %>
</article>
