<!DOCTYPE html>
<html>
  <head>
    <title>Todo Manager App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if @current_user %>
      <section class = "UserDetails">
        <p class = "LoggedUser"> <%= @current_user.firstname%> </p>
        <p class = "SignOut-link"> <%= link_to "Sign-out", destroy_session_path, method: "delete"%> </p>
      </section>
    <% end %>

    <p class = "ErrorMessage"> <%= flash[:error] %> </p>

    <%= yield %>
  </body>
</html>
